body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 500px;
  width: 500px;
}

.gridSquare {
  border: 1px solid black;
}

.colored-in {
  background-color: rgb(63, 108, 148);
}
